<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{13,100}</string>
                <key>spriteSourceSize</key>
                <string>{15,104}</string>
                <key>textureRect</key>
                <string>{{112,2},{13,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,58}</string>
                <key>spriteSourceSize</key>
                <string>{21,58}</string>
                <key>textureRect</key>
                <string>{{83,104},{21,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,63}</string>
                <key>spriteSourceSize</key>
                <string>{32,63}</string>
                <key>textureRect</key>
                <string>{{2,161},{32,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,55}</string>
                <key>spriteSourceSize</key>
                <string>{20,55}</string>
                <key>textureRect</key>
                <string>{{108,106},{20,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{36,155}</string>
                <key>spriteSourceSize</key>
                <string>{44,161}</string>
                <key>textureRect</key>
                <string>{{2,2},{36,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,106}</string>
                <key>spriteSourceSize</key>
                <string>{33,106}</string>
                <key>textureRect</key>
                <string>{{42,2},{33,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,98}</string>
                <key>spriteSourceSize</key>
                <string>{29,98}</string>
                <key>textureRect</key>
                <string>{{79,2},{29,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,51}</string>
                <key>spriteSourceSize</key>
                <string>{37,51}</string>
                <key>textureRect</key>
                <string>{{42,112},{37,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{42,41}</string>
                <key>textureRect</key>
                <string>{{38,167},{42,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{83,166},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,48}</string>
                <key>spriteSourceSize</key>
                <string>{28,48}</string>
                <key>textureRect</key>
                <string>{{38,213},{28,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,37}</string>
                <key>spriteSourceSize</key>
                <string>{34,37}</string>
                <key>textureRect</key>
                <string>{{90,207},{34,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{130,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6901738c5631c208110f9f4bdefb0997:04d6fb108a20e67416ec909a4ff43c22:2afb0b8dfa048ea2bbd02e313d2c7964$</string>
            <key>textureFileName</key>
            <string>bullet.png</string>
        </dict>
    </dict>
</plist>
