<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{307,59},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,95}</string>
                <key>spriteSourceSize</key>
                <string>{237,95}</string>
                <key>textureRect</key>
                <string>{{2,144},{237,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,95}</string>
                <key>spriteSourceSize</key>
                <string>{237,95}</string>
                <key>textureRect</key>
                <string>{{243,144},{237,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,96}</string>
                <key>spriteSourceSize</key>
                <string>{237,96}</string>
                <key>textureRect</key>
                <string>{{2,243},{237,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,96}</string>
                <key>spriteSourceSize</key>
                <string>{237,96}</string>
                <key>textureRect</key>
                <string>{{243,243},{237,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cancel_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,53}</string>
                <key>spriteSourceSize</key>
                <string>{142,53}</string>
                <key>textureRect</key>
                <string>{{271,2},{140,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>confirm_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,53}</string>
                <key>spriteSourceSize</key>
                <string>{142,53}</string>
                <key>textureRect</key>
                <string>{{2,59},{140,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{157,67}</string>
                <key>spriteSourceSize</key>
                <string>{159,67}</string>
                <key>textureRect</key>
                <string>{{146,59},{157,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,36}</string>
                <key>spriteSourceSize</key>
                <string>{265,38}</string>
                <key>textureRect</key>
                <string>{{2,2},{265,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{482,341}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75aa54f9459e0b99660548377276b38d:e1cff076d3bc3ff96b89b14dcd4cd4a8:1854a1d167269096d09aabff2abc0569$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
