<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{173,114}</string>
                <key>spriteSourceSize</key>
                <string>{197,134}</string>
                <key>textureRect</key>
                <string>{{263,390},{173,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{173,114}</string>
                <key>spriteSourceSize</key>
                <string>{197,134}</string>
                <key>textureRect</key>
                <string>{{262,508},{173,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,198}</string>
                <key>spriteSourceSize</key>
                <string>{262,198}</string>
                <key>textureRect</key>
                <string>{{2,2},{262,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{248,203}</string>
                <key>spriteSourceSize</key>
                <string>{250,203}</string>
                <key>textureRect</key>
                <string>{{268,2},{248,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,134}</string>
                <key>spriteSourceSize</key>
                <string>{193,134}</string>
                <key>textureRect</key>
                <string>{{2,204},{193,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,132}</string>
                <key>spriteSourceSize</key>
                <string>{187,132}</string>
                <key>textureRect</key>
                <string>{{265,254},{187,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,133}</string>
                <key>spriteSourceSize</key>
                <string>{177,133}</string>
                <key>textureRect</key>
                <string>{{2,342},{177,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,99}</string>
                <key>spriteSourceSize</key>
                <string>{135,99}</string>
                <key>textureRect</key>
                <string>{{2,602},{135,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,119}</string>
                <key>spriteSourceSize</key>
                <string>{158,119}</string>
                <key>textureRect</key>
                <string>{{2,479},{158,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,82}</string>
                <key>spriteSourceSize</key>
                <string>{113,82}</string>
                <key>textureRect</key>
                <string>{{260,626},{113,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,74}</string>
                <key>spriteSourceSize</key>
                <string>{104,74}</string>
                <key>textureRect</key>
                <string>{{141,632},{104,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,75}</string>
                <key>spriteSourceSize</key>
                <string>{97,75}</string>
                <key>textureRect</key>
                <string>{{183,446},{97,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,74}</string>
                <key>spriteSourceSize</key>
                <string>{101,74}</string>
                <key>textureRect</key>
                <string>{{377,639},{101,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,76}</string>
                <key>spriteSourceSize</key>
                <string>{100,76}</string>
                <key>textureRect</key>
                <string>{{183,342},{100,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,70}</string>
                <key>spriteSourceSize</key>
                <string>{99,70}</string>
                <key>textureRect</key>
                <string>{{439,536},{99,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,142}</string>
                <key>spriteSourceSize</key>
                <string>{70,142}</string>
                <key>textureRect</key>
                <string>{{440,390},{70,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,62}</string>
                <key>textureRect</key>
                <string>{{199,204},{70,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,81}</string>
                <key>spriteSourceSize</key>
                <string>{92,81}</string>
                <key>textureRect</key>
                <string>{{164,547},{92,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_atlas.png</string>
            <key>size</key>
            <string>{512,715}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fef473f38b757356aa77f574a8bd3ec7:66c0c61d60cd1cc9e310e50fb5196305:3ea742cfbe960bc5ac87f3c0e48ffee4$</string>
            <key>textureFileName</key>
            <string>enemy_atlas.png</string>
        </dict>
    </dict>
</plist>
