<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{448,335}</string>
                <key>spriteSourceSize</key>
                <string>{452,335}</string>
                <key>textureRect</key>
                <string>{{577,2},{448,335}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{571,372}</string>
                <key>spriteSourceSize</key>
                <string>{571,372}</string>
                <key>textureRect</key>
                <string>{{2,2},{571,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{402,257}</string>
                <key>spriteSourceSize</key>
                <string>{452,257}</string>
                <key>textureRect</key>
                <string>{{550,454},{402,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,277}</string>
                <key>spriteSourceSize</key>
                <string>{544,277}</string>
                <key>textureRect</key>
                <string>{{2,378},{544,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{467,346}</string>
                <key>spriteSourceSize</key>
                <string>{479,348}</string>
                <key>textureRect</key>
                <string>{{2,659},{467,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{484,290}</string>
                <key>spriteSourceSize</key>
                <string>{486,290}</string>
                <key>textureRect</key>
                <string>{{473,715},{484,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{959,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:190429b8229b450b870fa7ac9fda380e:9d54545505dea9a91b53324cfe0003f7:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
